/* general styles optimization and :root pseudo-class to store 
variable in it if necessary
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

:root {
  --background-general-color: #1b1b1b;
  --background-general-textColor: #E4ECF9;
  --background-elements: #37393b;
  --background-board: #131314;
}

body {
  background-color: var(--background-general-color);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
}

/* header styles
*/

.header  {
  display: flex;
  align-items: center;
  height: 100px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.icon img {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.title {
  font-size: 3rem;
  color: white;
  padding-bottom: 10px;
  cursor: pointer;
}

/* side bar styles
*/

.sideBar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.createButton {
  background-color: var(--background-elements);
  color: var(--background-general-textColor);
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  font-size: 1.1rem;
  border: 1px solid var(--background-elements);
}
.createButton:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.projectsContainer {
  color: var(--background-general-textColor);
  font-size: 1.2rem;
  margin: 10px;
  padding-left: 20px;
  overflow: auto;
}

/* side bar project buttons style;
*/

.projButton {
  background-color: var(--background-general-color);
  color: var(--background-general-textColor);
  display: block;
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 5px 10px 5px 0px;
  border: 0px;
}
.projButton:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

/*main styles;
*/

.projectBoardContainer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*project board styles;
*/

.projectBoard{
  background-color: var(--background-board);
  color: var(--background-general-textColor);
  padding: 20px;
  width: 85%;
  margin: auto;
  border-radius: 6px;
}
.projectBoard > * {
  margin-top: 15px;
  color: var(--background-general-textColor);
  font-size: 1.5rem;
}

.projectBoard > button {
  background-color: var(--background-elements);
  color: var(--background-general-textColor);
  border: 1px solid var(--background-elements);
  border-radius: 6px;
  padding: 5px 0px;
  font-size: 1.5rem;
}

.closed {
  display: none;
}
.open {
  display: block;
}

/* todo container styles
*/

.todoContainer > * {
  margin-top: 2px; 
  overflow: hidden;
  font-size: 1.5rem;
}
.todoContainer:hover {
  border-radius: 6px;
}

.todoContainer button {
  background-color: var(--background-general-color);
  color: var(--background-general-textColor);
  border: 1px solid var(--background-elements);
  border-radius: 6px;
  padding: 5px 0px;
  font-size: 1.5rem;
}
.todoContainer button:hover{
  cursor: pointer;
  
}

.startDateBoard {
  margin-right: 10px;
}

.deleteTodo,
.doneUndoneTodo {
  margin-left: 10px;
}
